@import "tailwindcss";

.sidebar {
  width: 240px;
  height: 100vh;
  background: #111827;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  color: white;
  margin-bottom: 25px;
  font-weight: 600;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-link {
  text-decoration: none;
  color: #cbd5e1;
  padding: 10px 12px;
  border-radius: 8px;
  transition: 0.2s;
}


.sidebar-link:hover {
  background: transparent;
  color: #ffffff;
}


.sidebar-link.active {
  background: linear-gradient(90deg, #4f46e5, #7c3aed);
  color: white;
  font-weight: 500;
}

.top-navbar {
  background: linear-gradient(120deg, #1004ef, #6131b5) !important;
  padding: 10px 20px;
}

.brand {
  color: white !important;
  font-weight: 600;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}


